name: "Checks the SDK only using APIs from the targeted API level"

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  lint-api-level:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: 17
          cache: gradle
      - name: Setup Android SDK
        uses: android-actions/setup-android@v2.0.10
      - name: Build SDK with Android project configuration
        id: lint
        run: ./gradlew --no-daemon build -Pandroid=true
      - name: Upload linting results
        if: failure() && steps.lint.outcome == 'failure'
        uses: actions/upload-artifact@v3
        with:
          name: lint-report
          path: ./**/build/reports
