name: Gradle Build And Test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Setup JDK
      uses: actions/setup-java@v4
      with:
        java-version: 21
        distribution: 'temurin'
        cache: gradle
    - name: Detect secrets
      run: |
        pip install detect-secrets
        git ls-files -z | xargs -0 detect-secrets-hook --baseline .secrets.baseline
    - name: Build with Gradle
      run: ./gradlew --no-daemon build -Pjava8=true
    - name: Upload Unit Test Results
      if: ${{ always() }}
      uses: actions/upload-artifact@v4
      with:
        name: Unit Tests
        path: |
            components/**/build/reports/tests/test/**
            components/**/build-test-results/**
    - name: Upload a Build Artifact
      uses: actions/upload-artifact@v4
      with:
        name: ${{ inputs.componentName }}-drop
        path: ./**/build/*
